@import "tailwindcss";

main {
  background: url("https://web.poecdn.com/protected/image/poe2/banner_1_1x.webp?v=1728251733485&key=sxN-bhmG-zOGtQbswEaI5g");
  background-position: center;
  background-size: cover;
}

main {
  @apply object-cover;
}
